.ex{
    color: blue;
}
*{
    margin: 8px;
    padding: 8px;
}
body{
    background-color: rgb(245, 245, 55);
}
.task{
    border: 5px solid rgb(28, 200, 28);
    border-style: dotted;
}
h1{
    text-align: center;
}
h2{
    color: blue;
}